<app-main> 
    <app-content-section [title]="'用語集'">
        <dl>
        <dt>JSK</dt>
        <dd>ジャンパースカートの略称。</dd>
        <dt>BL</dt>
        <dd>ブラウスの略称。</dd>
        <dt>ヘッドドレス</dt>
        <dd>
            レースやリボンなどの装飾のついた頭につける楕円状の飾りもの。
        </dd>
        <dt>ボンネット</dt>
        <dd>
            大きく幅の広いつばがついており、顔や頭全体を包み込む帽子。<br />
            後頭部を覆うフルボンネットと、覆わないハーフボンネットの2種類がある。
        </dd>
        <dt>パニエ</dt>
        <dd>スカートにボリュームを持たせるために履くインナー</dd>
        <dt>ドロワーズ</dt>
        <dd>下着が見えないように履くインナー</dd>
        <dd>カフス</dd>
        <dd>袖が汚れないように固定しておくお袖とめ</dd>
        </dl>
    </app-content-section>
</app-main>